.backimage{
    background-image: url(../../public/b7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 100px;
    height: 700px;
    box-shadow: 15px 15px;
    border-radius: 5px;
}

.divcard{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    margin-top: 8%;
    margin-left: 35%;
    border-radius: 10px;
    opacity: 80%;
}

.divcenter{
    margin: 40px 30px 30px 30px;
    text-align: center;
}
