<div class="backimage">
    <div class="divcard">
        <div class="divcenter">
            <h3 class="headtext">LOG IN</h3>
            <div *ngIf="usermsg != ''">{{usermsg}}</div>

            <form (submit)="userLogin()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                        placeholder="User Name" [(ngModel)]="username" name="username" required />
                </div><br />
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                        [(ngModel)]="password" name="password" required />
                </div><br />
                <button type="submit" class="btn btn-outline-dark">Log In</button>
                <br />
                <a routerLink="/signuppage" style="color: black;">Sign Up</a>
            </form>
        </div>
    </div>
</div>